[submodule "moduleA"]
	path = moduleA
	url = https://pej-azure@dev.azure.com/pej-azure/multimodule/_git/multimodule-moduleA
[submodule "moduleB"]
	path = moduleB
	url = https://pej-azure@dev.azure.com/pej-azure/multimodule/_git/multimodule-moduleB
